<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">
      <img src="assets/images/image.png" height="30px" alt="" loading="lazy" />
      ILA EDU
    </a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img src="https://mdbootstrap.com/img/new/avatars/1.webp" class="rounded-circle" height="22" alt=""
            loading="lazy" />
          <strong class="d-none d-sm-block ms-1">{{usuario}}</strong>
        </a>
      </li>
    </ul>
  </div>

</nav>